<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <h1>Add Cheese</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <form method="post">
        <label>Cheese Name
            <input type="text" name="cheese"/>
        </label>
        <label>Cheese Description
            <input type="text" name="description"/>
        </label>
        <input type="submit" value="Add Cheese"/>
    </form>

    <p th:text="${error} ? 'Please enter a valid cheese name' : ''"></p>
</body>
</html>