<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container bg">
    <h1 th:text="'Edit Cheese ' + ${cheese.name} + '(id=' + ${cheese.ID} + ')'" class="display-4">Edit Cheese</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <form method="post" th:object="${cheese}" action="/cheese/edit">
        <label>Cheese Name
            <input type="text" th:field="*{name}" class="form-control"/>
        </label>
        <label>Cheese Description
            <input type="text" th:field="*{description}" class="form-control"/>
        </label>
        <input type="hidden" th:field="*{ID}" />
        <input type="submit" class="btn btn-primary" value="Edit Cheese"/>
    </form>
    <p th:text="${error} ? 'Please enter a valid cheese name' : ''" class="error"></p>


</body>
</html>