<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container bg">
    <h1 th:text="'Edit Cheese ' + ${cheese.name} + '(id=' + ${cheese.id} + ')'" class="display-4">Edit Cheese</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <form method="post" th:object="${cheese}" action="/cheese/edit">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <input class="form-control" th:field="*{description}" />
            <span th:errors="*{description}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="category">Type</label>
            <select th:name="categoryId" class="custom-select">
                <option th:replace="cheese/add :: cheese-categories"></option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="rating">Rating</label>
            <input th:field="*{rating}" class="form-control"/>
            <span th:errors="*{rating}" class="error"></span>
        </div>
<!--        <input type="hidden" name="id" th:value="${id}" />-->
        <input type="hidden" th:field="*{id}" />
        <input type="submit" class="btn btn-dark" value="Edit Cheese"/>
    </form>

</body>
</html>