<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container bg">
    <h1 th:text="${title}" class="display-4">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>

    <ul class="list-group list">
        <li
            th:each="cheese: ${cheeses}"
            class="list-group-item"
        >
            <h3 th:text="${cheese.name}"></h3>
            <p th:text="${cheese.description}"></p>
            <p th:text="${cheese.type.name}"></p>
            <p th:text="${cheese.rating}"></p>
            <a th:href="@{'/cheese/edit/' + ${cheese.ID}}">Edit</a>
        </li>
    </ul>
</body>
</html>