<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container bg">
    <h1 th:text="${title}" class="display-4">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Rating</th>
            <th> </th>
        </tr>
        </thead>
        <tr th:each="cheese : ${cheeses}">
            <td th:text="${cheese.name}"></td>
            <td th:text="${cheese.description}"></td>
            <td th:text="${cheese.type.name}"></td>
            <td th:text="${cheese.rating}"></td>
            <td><a th:href="@{'/cheese/edit/' + ${cheese.ID}}">Edit</a></td>
        </tr>

    </table>
</body>
</html>