<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<h1>Remove Multiple Cheese</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="post">
    <label
        th:each="cheese: ${cheeses}">
        <input
            type="checkbox"
            th:name="cheeseSelection"
            th:value="${cheese.getID()}"

        />
        <span th:text="${cheese.getName()}"></span>
    </label>
    <input type="submit" value="Remove Cheese/s"/>
</form>

</body>
</html>