<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container bg">
    <h1 th:replace="fragments :: title"></h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post">
        <label
            th:each="cheese: ${cheeses}">
            <input
                type="checkbox"
                th:name="cheeseSelection"
                th:value="${cheese.id}"

            />
            <span th:text="${cheese.getName()}"></span>
        </label>
        <input type="submit" class="btn btn-dark" value="Remove Cheese/s"/>
    </form>

</body>
</html>