<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container bg">
    <h1 th:replace="fragments :: title"></h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post">
    <label>Select cheese
        <select name="cheeseSelection">
            <option
                    th:each="cheese: ${cheeseList}"
                    th:value="${cheese.id}"
                    th:text="${cheese.name}"></option>
        </select>
    </label>
    <input type="submit" class="btn btn-dark" value="Remove Cheese"/>
    </form>

</body>
</html>