<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1>Add User</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <form method="post" th:object="${user}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input type="text" th:field="*{name}" class="form-control"/>
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="email">Email</label>
            <input type="email" th:field="*{email}" class="form-control"/>
            <span th:errors="*{email}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="passowrd">Password</label>
            <input type="password" th:field="*{password}" class="form-control"/>
            <span th:errors="*{password}" class="error"></span>
        </div>
        <div class="form-group">
            <label for="verify">Confirm Password</label>
            <input type="password" name="verify" id="verify" class="form-control"/>
            <span th:text="${error} ?: ''" class="error"></span>
        </div>

        <input type="submit" class="btn btn-dark" value="Add User"/>
    </form>
</body>
</html>