body {
    font-family: sans-serif;
}

nav {
    width: 50%;
    margin: 20px auto;
    display: flex;
}

nav a{
    width: calc(100% / 5);
    text-align: center;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 8px;
}

form {
    border: thin solid #80808063;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    border-radius: 4px;
}

.list, .user {
    margin: 0 auto;
    width: 50%;
}

.error{
    text-align: center;
    color: red;
}



