nav {
    width: 50%;
    margin: 20px auto;
    display: flex;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 8px 0;
}

form {
    border: thin solid #80808063;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    border-radius: 4px;
    background-color: white;
}

.list, .user {
    margin: 0 auto;
    width: 50%;
}

.error{
    color: red;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("/img/cheeseee.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

tr, td {
background-color: white;
}

.table {
    margin-top: 10px;
}

