<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container bg">
    <h1 th:text="'Menu: ' + ${menu.name} + ' with id: ' + ${menu.id}" class="display-4"></h1>
    <nav th:replace="fragments :: navigation"></nav>

    <ul class="list-group list">
        <li th:each="cheese : ${menu.cheeses}" th:text="${cheese.name}"  class="list-group-item"></li>
    </ul>

    <div class="text-center">
        <a class="btn btn-dark" th:href="'/menu/add-item/' + ${menu.id}" role="button" style="margin: 5px auto">Add Cheese</a>
    </div>

</body>
</html>